canvas {
    border: 4px solid rgb(12, 70, 0);
    background-color: rgb(186, 255, 172);
    border-radius: 10px;
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
    color: #20352a;
    background-color: #a6ff00;
}

#info, #ennatus, #finalScore {
    font-weight: bold;
}

#startButton, #restartButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: rgb(12, 70, 0);
    border: none;
    border-radius: 5px;
}
#startButton:hover, #restartButton:hover {
    background-color: #45a049;
}